# =========================
# Terraform runtime
# =========================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# =========================
# Terraform lock file
# Keep this in Git
# =========================
# .terraform.lock.hcl

# =========================
# Variable files / secrets
# =========================
*.tfvars
!*.example.tfvars

# =========================
# Crash logs
# =========================
crash.log
crash.*.log

# =========================
# IDE / Editor files
# =========================
.vscode/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
